rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Default allow read, write for app collections
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
